<tr>
  <td><%= usage.subscription.user.name %></td>
  <td><%= link_to usage.subscription.plan.name, usage.subscription.plan %></td>
  <td><%= usage.feature.name %></td>
  <td><%= usage.subscription.plan.features.include?(usage.feature) ? usage.feature.max_unit_limit : '' %></td>
  <td><%= usage.feature_count %></td>
  <% if policy(:usage).update? %>
    <td><%= link_to 'Add More', edit_usage_path(usage) %></td>
  <% end %>
</tr>
