<tr>
  <td><%= subscription.subscription_date.strftime('%F') %></td>
  <td><%= subscription.user.name %></td>
  <td><%= link_to subscription.plan.name, subscription.plan %></td>
  <td><%= subscription.active %></td>
  <td><%= subscription.billing_day %></td>
  <td>
    <%= link_to 'Activation', subscription, method: :put %>
    <%= link_to 'Cancel', subscription, method: :delete, data: {confirm: 'Are you sure?'} %>
    |
    <%= link_to 'Charge', subscription_charge_path(subscription), method: :post %>
  </td>
</tr>