<tr>
  <td><%= subscription.subscription_date.strftime('%F') %></td>
  <td><%= subscription.user.name %></td>
  <td><%= link_to subscription.plan.name, subscription.plan %></td>
  <td><%= subscription.active %></td>
  <td><%= subscription.billing_day %></td>
  <td>
    <%= link_to 'Deactivate', subscription, method: :delete, data: {confirm: 'Are you sure?'} %>
  </td>
</tr>
