<% @plans.each { |plan| %>
  <tr>
    <td><%= link_to plan.name, plan %></td>
    <td><%= plan.monthly_fee %></td>
    <td><%= plan_features(plan) %></td>
    <% if policy(:plan).update? %>
      <td>
        <%= link_to link_to '<i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i>'.html_safe, edit_plan_path(plan) %>
        <%= link_to link_to '<i class="fa fa-trash text-danger" data-toggle="tooltip" title="Delete"></i>'.html_safe, plan, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    <% else %>
      <% if current_user&.subscribed?(plan.id) %>
        <td>Already Subscribed</td>
      <% else %>
        <td><%= link_to 'Subscribe', plan_subscribe_path(plan), method: :post, class: 'button' %></td>
      <% end %>
    <% end %>
  </tr>
<% } %>
