<% if policy(:plan).update? %>
  <tr>
    <td><%= link_to plan.name, plan %></td>
    <td><%= plan.monthly_fee %></td>
    <td><%= plan_features(plan) %></td>
    <td>
      <%= link_to 'Edit', edit_plan_path(plan) %>
      <%= link_to 'Destroy', plan, method: :delete, data: {confirm: 'Are you sure?'} %>
    </td>
  </tr>
<% else %>
  <div class="col-md-3">
    <div class="<%= plan_class(plan.id) %>">
      <div class="plan-price">
        <h3><%= plan.name %></h3> <span class="plan-currency">$</span>
        <span class="value"><%= plan.monthly_fee %></span>
        <span class="period">/ per month</span>
      </div>
      <div class="plan-features">
        <ul>
          <% plan.features.each do |fr| %>
            <li><%= fr.name %></li>
          <% end %>
        </ul>
        <% if current_user&.subscribed?(plan.id) %>
          <a class="button" href="#">Already Subscribed</a>
        <% else %>
          <td><%= link_to 'Subscribe', plan_subscribe_path(plan), method: :post, class: 'button' %></td>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
