<tr>
  <td><%= feature.name %></td>
  <td><%= feature.code %></td>
  <td><%= feature.unit_price %></td>
  <td><%= feature.max_unit_limit %></td>
  <% if policy(:feature).update? %>
    <td>
      <%= link_to '<i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i>'.html_safe, edit_feature_path(feature) %>
      <%= link_to '<i class="fa fa-trash text-danger" data-toggle="tooltip" title="Delete"></i>'.html_safe, feature, method: :delete, data: {confirm: 'Are you sure?'} %>
    </td>
  <% end %>
</tr>
